<div class="page-header">
    <h1>Sign up
        <small>Join the community!</small>
    </h1>
</div>

<form name="userForm" class="form-horizontal" role="form" ng-submit="submitForm(userForm.$valid)" novalidate>
    <!--@TODO Disable auto-correct-->
    <!--Account Information-->
    <div class="panel panel-default">
        <div class="panel-heading">Account Information</div>
        <div class="panel-body">
            <div class="form-group">
                <label class="col-sm-2 control-label">Email</label>

                <div class="col-sm-10">
                    <input type="email" ng-model="formData.email" class="form-control" name="email" placeholder="Email"
                           required>

                    <p ng-show="userForm.email.$invalid && !userForm.email.$pristine" class="text-danger">Email is
                        required.</p>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : userForm.userName.$invalid && !userForm.userName.$pristine }">
                <label class="col-sm-2 control-label">Username</label>

                <div class="col-sm-10">
                    <input type="text" ng-model="formData.userName" class="form-control" name="userName"
                           placeholder="Username" required ng-minlength="2" ng-maxlength="12">
                    <p ng-show="userForm.userName.$invalid && !userForm.userName.$pristine" class="text-danger">
                        userName is required.</p>

                    <p ng-show="userForm.userName.$error.minlength" class="help-block">userName is too short.</p>

                    <p ng-show="userForm.userName.$error.maxlength" class="help-block">userName is too long.</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Password</label>

                <div class="col-sm-10">
                    <input type="password" ng-model="formData.password1" class="form-control" name="password1"
                           placeholder="Password" required>

                    <p ng-show="userForm.password1.$invalid && !userForm.password1.$pristine" class="text-danger">
                        Password is required.</p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-2 control-label">Repeat Password</label>

                <div class="col-sm-10">
                    <input type="password" ng-model="formData.password2" class="form-control" name="password2"
                           placeholder="Password" required>

                    <p ng-show="userForm.password2.$invalid && !userForm.password2.$pristine" class="text-danger">
                        Password is required.</p>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input class="form-control" type="textarea" placeholder="{{agreement}}" readonly>

            <div class="checkbox">
                <label>
                    <input type="checkbox" ng-model="formData.terms" aria-label="Agree to terms" required> Agree to terms.
                </label>
            </div>
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <button type="submit" ng-disabled="userForm.$invalid" class="btn btn-primary">Sign up</button>
        </div>
    </div>
</form>